*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgb(170, 170, 170);
  display:grid;
  grid-template-areas: "cielo cielo cielo"
                      "entrada gasolinera salida"
                      "agua agua agua";
  grid-template-columns: 0.5fr 5fr 0.5fr;
  grid-template-rows: 10vh 80vh 10vh;
  font-size: calc(1vw + 1vh);
}
#calleEntrada{
  grid-area: entrada;
}
#calleSalida{
  grid-area: salida;
}
#gasolinera{
  grid-area: gasolinera;
  background-color: rgb(3, 113, 21);
  display: grid;
  grid-template-areas:
      "conmutador conmutador"
      "espera   carga   ";
  padding: 2vh;
  grid-template-rows: 1fr 2fr;
  grid-template-columns: 30% 70%;
  grid-gap: 1vw;
}
#zonaDeEspera{
  grid-area: espera;
  background-color: rgb(88, 160, 194);
  display: grid;
  justify-content: center;
  grid-template-columns:  1fr 1fr;
}
#divZonaDeBombas{
  grid-area: carga;
  background-color: rgb(198, 196, 16);
  display: grid;
  justify-content: center;
  grid-template-columns:  1fr 1fr 1fr;
}
#zonaConmutador{
  grid-area: conmutador;
  background-color: rgb(135, 227, 175);
  align-content: center;
  display: grid;
}

.cartel{
  text-align: center;
  font-size: 100%;
  padding-top: 1vw;
}

.coche{
  width: 5vw;
  height: 3vh;
  background-color: #997813;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 3vh;
  margin: 2vw;
  margin-top: 0;
  justify-self: center;
}

.bomba{
  width: 10vw;
  height: 3vh;
  background-color: #238fc4;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 3vh;
  margin: 2vw;
  justify-self: center;
}

#iniciar{
  display: block;
  font-size: 1em;
  margin-right: auto;
  margin-left: auto;
}

#reIniciar{
  display: none;
  font-size: 1em;
  margin-right: auto;
  margin-left: auto;
}

@media screen and (orientation: portrait) {

  #gasolinera {
    grid-template-areas:
        "conmutador"
        "espera  "
        "carga   ";
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: auto;
  }

  #zonaDeEspera {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
